<section class="cartItem-container" id="cartItem-container">

    <div class="cart-img-container" >
        <img class="cart-item-img" id="cart-item-img" src="{{img}}"/>
    </div>
    
    <div class="cart-description" >
        <p class="cart-item-title" id="cart-item-title">
            {{title}}
        </p>
    </div>

    <div>              
        <p class="cart-item-price-desc" id="cat-item-price-desc">
            {{priceDescription}}
        </p>
    </div>

    <div>
        <p class="cart-item-price" id="cat-item-price">
            {{price}}
        </p>
    </div>

    <div>
        <p class="cart-item-price-uint" id="cat-item-price-unit">

            {{priceUnit}}
        </p>
    </div>

    <div>
        <p class="cart-item-quantity" id="cart-item-quantity"></p>
        {{amount}}
    </div>
            <!-- <label for="item-quantity">adjust quantity</label> -->
            <select id="cart-item-quantity" class="cart-item-quantity">
              <option value="" selected disabled hidden>{{amount}}</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <!-- <label for="item-img"></label> -->
            <!--<button type="submit" value="Submit" id="adjust-submit-button" class="adjust-submit-button">adjust quantity</button>-->
            <button type="suvmit" value="submit" id="delete-submit-button" class="delete-submit-button">delete item</button>
</section>