<section class="item">
    <div class="img-container" >
        <img class="item-img" id="item-img" src="{{photo}}"/>
    </div>
    
    <div class="description" >
        <p class="item-name" id="item-title" name="{{priceUnit}}">
            {{name}}
        </p>
                    
        <p class="item-price-desc" id="item-price-desc" name="{{price}}">
            {{priceDescription}}
        </p>
    </div>


            <label for="item-quantity">Select quantity</label>
            <select id="item-quantity" class="quantity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <label for="item-img"></label>
            <button type="submit" value="Submit" id="submit-button" class="submit-button">Add To Cart</button>

</section>